*{
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}
body{
  background-color: rgb(0, 0, 0);
  text-align: center;
  margin: 0;
  height: 100dvh;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pergunta{
  background-color: #0791B5;
  border: 13px solid white;
  width: 670px;
  height: 410px;
  border-radius: 50px;
}
#reset{
  position: absolute;
  top: 15px;
  left: 50px;
  background-image: linear-gradient(#C1CBCA, #787F80);;
}
img { 
  width: 1000px;
}
button{
  height: 90px;
  width: 180px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 55px;
  margin-top: 90px;
  cursor: pointer;
}
.sim{
    background-image: linear-gradient(#10E252, #02882C);
}
.nao{
    background-image: linear-gradient(#F00505, #A50000);
    margin-left: 50px;   
}
#caixaquinta{
  background-color: #0791B5;
  border: 13px solid white;
  width: 600px;
  height: 445px;
  border-radius: 50px;
}
#livrearb{
  margin-top: 55px;
  height: 120px;
  width: 370px;
  background-image: linear-gradient(#E8F3F2, #97C3C6);
  border: 2px solid black;
}
#botoesult{
  width: 500px;
  height: px;
  border-radius: 50px;
  margin:  auto;
}

h1{
    font-size: 70px ;
    margin-top: 47px;
}